@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

/* default margin and padding for all pages */
* {
  margin: 0px;
  scroll-behavior: smooth;
  font-family: "Poppins";
  font-style: normal;
}

/* navbar style start */
nav {
  position: fixed;
  background-color: #ebc7e6;
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
}

.relative-container {
  position: relative;
  display: flex;
  padding-left: 4%;
}

nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 38px;
  padding-inline-start: 0px;
  margin-left: auto;
}

nav button {
  display: flex;
  position: relative;
  padding: 8px;
  margin: 35px;
  background-color: #bface2;
  border-radius: 20px;
  border-style: none;
  color: #ffefe0;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

/* navbar style end */

/* main section start */
main {
  padding-top: 70px;
}

header {
  padding: 115px 0px 72px 123px;
}

h1 {
  font-size: 28px;
}

section {
  margin: 0 16px;
}

#hero-button {
  display: flex;
  padding: 12px 0px 72px 123px;
  gap: 20px;
}

#hero-button-1 {
  display: flex;
  padding: 8px;
  margin: 35px;
  background-color: #bface2;
  border-radius: 20px;
  border-style: none;
  color: #ffefe0;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

#hero-button-2 {
  display: flex;
  padding: 8px;
  margin: 35px;
  background-color: #bface2;
  border-radius: 20px;
  border-style: none;
  color: #ffefe0;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

/* grid section start */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  grid-template-rows: 406px 329px 121px;
}

.grid-container img {
  width: 50%;
  height: 50%;
  padding: 100px;
}

#item-1 {
  grid-row: 1;
  grid-column: 1 / span 2;
}

#item-2 {
  grid-row: 2;
  margin: -13rem 0rem 5rem 0rem;
  grid-column: 1 / span 2;
}

#item-3 {
  grid-row: 1 / span 3;
  grid-column: 2;
}

#item-4 {
  grid-row: auto;
  grid-column: auto;
  margin: auto;
}

#item-1 img {
  object-fit: cover;
}

#item-2 img {
  object-fit: cover;
}

#item-3 img {
  object-fit: cover;
}
/* grid section end */

/* brand section start */
#brand-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#brand-container img {
  width: 10%;
  height: 10%;
}
/* brand section end */

/*videos section start */
#video-section #flex-container-video {
  display: flex;
  justify-content: center;
}
/* video section end */

/* form section start */
#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebc7e6;
  padding: 8px;
  margin-top: 16px;
}

#form-section h2 {
  text-align: center;
}

/* form section end */
/* main section end */
